@import "layout/var";

.map-wrapp {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0 18px 0 8px;
    margin-bottom: 21px;

    @media (max-width: 991px){
        padding: 0 8px;
    }

    &__map-before {
        box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
        top: -8px;
        overflow: hidden;

        @media (max-width: 767px){
            box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
        }
    }

    &__map-init {
        height: 360px;
        background: #fff;

        @media (max-width: 991px){
            height: 230px;
        }
    }
}