@import "layout/var";

.how-works {
    display: flex;
    align-items: flex-start;

    @media (max-width: 767px){
        display: block;
    }

    &__left-side {
        padding-right: 16px;
        width: 47%;

        @media (max-width: 767px){
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }
    }

    &__right-side {
        padding-left: 16px;
        width: 53%;

        @media (max-width: 767px){
            width: 100%;
            padding: 0;
        }
    }
}