@import "layout/var";

.repair {
    display: flex;
    padding: 52px 0;

    &__item {
        padding: 0 20px;
        width: 20%;
    }

    &__img {
        margin-bottom: 15px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.05), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    &__img-text {
        font-size: 100px;
        color: #F7CD47;
        font-family: $mont;
    }

    &__title {
        font-size: 18px;
        font-family: $mus700;
        margin-bottom: 8px;
    }
    
    &__text {
        font-size: 14px;
    }
}