@import "layout/var";

.logo {
   display: flex;
   align-items: center;
   
   @media (max-width: 767px){
       margin-bottom: 10px;
   }

   &__img {
       flex-shrink: 0;

       @media (max-width: 1460px){
           width: 50px;
       }
   }

   &__text {
       padding-left: 10px;
       max-width: 203px;
   }

   &__title {
       text-transform: uppercase;
       font-size: 18px;
       color: #FAAC3D;
       margin-bottom: 4px;
       font-family: $mus700;

       @media (max-width: 1460px){
           font-size: 16px;
       }

       span {
           color: #000;
       }
   }

   &__sub-title {
       font-size: 10px;

       @media (max-width: 1460px){
            font-size: 9px;
       }
   }
}